@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$ff: 'Inter', sans-serif;
$bg-1: #FFFFFF;
$bg-2: #FBF8F3;
$bg-3: #4D13D1;
$fc-1: #000000;
$fc-2: #484849;
$fc-3: #6B6B6B;





